<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>LaughTracks</title>
  </head>
  <body>

    <section class="navbar navbar-expand-lg navbar-light bg-light">
        <h1>Stats</h1>
        <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" >Average Comedian Age: <%= Comedian.average_age %> <span class="sr-only">(current)</span></a>
      </li>
      <a class="nav-link" >Hometowns: <span class="sr-only">(current)</span></a>
      <li class="nav-item">
        <h9 class="nav-link" >
          <% places = [] %>
          <% @comedians.select(:birthplace).uniq.each do |comedian| %>
          <% if places.include?(comedian.birthplace) == false %>

           <%= comedian.birthplace %> -
           <% places << comedian.birthplace %>

       <% end %>
     <% end %>
       </h9>
      </li>
      <li class="nav-item">
        <h9 class="nav-link"></h9>
      </li>
    </ul>
    </section>

      <ul>
  <% @comedians.each do |comedian|%>
    <li>
      <img src = <%= comedian.image_url %>>
      <ul>
        <li>
          <%= comedian.name %>
          <%= comedian.id %>
        </li>
        <li>
          <%= comedian.age %>
        </li>
        <li>
          <%= comedian.birthplace %>
        </li>
        <li>
          Specials:
        </li>
      </ul>

      <% comedian.specials.each do |special| %>
        <ul>
          <li>
            Special: <%= special.title %>
          </li>
          <li>
            Duration: <%= special.duration_mins %>
          </li>
        </ul>
      <% end %>
    </li>
  <% end %>

</ul>






  </body>

</html>
